<form>
  <label for="content">What is yor Question?</label>
  {{input class="form-control" value=content id="content"}}

  <label for="author">Who is the Author?</label>
  {{input value=author id="author" class="form-control"}}

  <label for="details">Any further details:</label>
  {{input value=details id="details" class="form-control"}}

  <button class="btn btn-primary" {{action "addQuestion"}}>Submit Question!</button>
</form>
