<div class="container">
  <div class="jumbotron">
    <h1> New Question: </h1>
    {{new-question saveQuestion="questionToDb"}}
  </div>


  <ul>
    {{#each model as |question|}}
       <li>{{question.content}} - {{question.author}}</li>
    {{/each}}
  </ul>

</div>
