<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="jumbotron">
        <h2>{{model.content}}</h2>
        <h5>by {{model.author}}</h5>
        <h4>{{model.notes}}</h4>
        {{update-question question=model update="updateToDb"}}
      </div>
    </div>
  </div>
</div>
